.jumbotron {
	background-color: blue;
	color: white;
	margin-top: 50px;
}

.btn {
	color: back;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: black;
	color: white;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-restaurante{
	flex: 1 150px;
	padding: 2px 2px 2px 5px;
	margin-top: 10px;
	margin-right: 2px;
	margin-left: 2px;
}

.btn-reserva{
	width: 100%;
}

.footer-address-icon{
	padding-right: 10px;
}